body html {
    overflow-y: hidden;
}

.logoContainer {
    padding: 2vh;
    cursor: pointer;
    height: 5%;
}

.LogOutRight {
    display: flex;
}

.LogOutRight {
    flex-direction: column-reverse;
}

.clickable {
    cursor: pointer;
    height: 2em;
}

.clickable:hover {
    filter: brightness(80%)
}

.myBookings {
    display: flex;
    flex-direction: row;
    max-height: 3em;
    align-items: center;
    justify-content: space-between;
}

.logout {
    display: flex;
    color: #fb088c;
    font-family: 'Moderat';
    justify-content: flex-end;
}

.logoContainer img {
    height: 100%;
}

.centerSubtitle {
    display: flex;
    justify-content: center;
}

.welcome {
    font-family: 'moderat';
    position: fixed;
    font-size: 3em;
    justify-content: center;
    text-align: center;
    width: 20%;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    padding: 3px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: #fb088c
}

.rooms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2em;
    margin-right: 2em;
}

.opacity {
    opacity: 60%;
}

.bookings {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 78vh;
    overflow-y: scroll;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 1em;
    min-height: 5em;
    /* background-color: #F7CDE8; */
    color: #060606;
    border-radius: 1em;
    padding: 1em;
}

.cardRow {
    flex-direction: column;
}

.trash:hover {
    opacity: 100%;
    filter: brightness(100%);
}

.trash {
    filter: brightness(0);
    opacity: 20%;
    cursor: pointer;
    height: 1.5em;
}

.edit {
    opacity: 20%;
    cursor: pointer;
    height: 1.5em;
}

.edit:hover {
    opacity: 80%;
    /* filter: invert(100%); */
}

.columnIcons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cardGreen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    min-height: 5em;
    background-color: #D3EFDA;
    color: #53B64B;
    border-radius: 1em;
    padding: 1em;
}

.cardImageContainer {
    display: flex;
    align-content: center;
    margin-right: 1em;
}

.cardImageContainer img {
    width: 10%;
    height: auto;
    margin-left: auto;
    max-width: 70%;
}

h3 {
    margin: 0;
    font-weight: 700;
}

.bookingIntro {
    margin: 0;
    font-weight: 700;
    font-size: 2em;
}

p {
    font-weight: 400;
    margin: 0.3em;
    opacity: 0.8;
}

.logout {
    color: #fb088c;
    font-family: 'Moderat';
}

.st0 {
    opacity: 0.1;
    fill: #FFCD04;
    enable-background: new;
}

.st0:hover {
    opacity: 1;
    cursor: pointer;
}

.navBar {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    position: fixed;
    background-color: #fb088c;
    width: 100vw;
    bottom: 0;
}

.icon {
    filter: invert(100%);
    height: 2em;
    margin: 1em;
    cursor: pointer;
}

@media(max-width:767px) {
    .map {
        display: none;
    }
    .rooms {
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    .bookings {
        flex-direction: column-reverse;
        width: 90%;
        margin: auto;
        height: 100%;
        overflow-y: auto;
    }
    .myBookings {
        justify-content: center;
        height: 3em;
        margin-top: 1em;
    }
    .myBookings img {
        height: 4em;
    }
    .clickable {
        /* position: fixed;   */
        bottom: 4em;
        justify-content: center;
        align-content: flex-end;
        /* z-index: 2; */
        margin-bottom: 2em;
        margin: 2em;
    }
    .bookingIntro {
        display: none;
    }
}