.logoContainer {
    padding: 2vh;
    cursor: pointer;
    height: 5%;
}

.LogOutRight {
    display: flex;
}

.LogOutRight {
    flex-direction: column-reverse;
}

.logout {
    display: flex;
    color: #fb088c;
    font-family: 'Moderat';
    justify-content: flex-end;
}

.logoContainer img {
    height: 100%;
}

.centerSubtitle {
    display: flex;
    justify-content: center;
}

.welcome {
    font-family: 'moderat';
    font-size: 3em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.5em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    padding: 3px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: #fb088c
}

.rooms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2em;
    margin-right: 2em;
    height: auto;
}

.bookings {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 1em;
}

@media(max-width:767px) {
    .map img {
        transform: rotate(360deg);
    }
}

.navBar {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    position: fixed;
    background-color: #fb088c;
    width: 100vw;
    bottom: 0;
}

.icon {
    filter: invert(100%);
    height: 2em;
    margin: 1em;
    cursor: pointer;
}