<div *ngIf="us.name == '' else link" class="logoContainer">
    <a class="logo" href="http://localhost:4200/"><img src="assets/logo/workorooms_pink.svg" alt="logo" routerLink="/"></a>
</div>

<ng-template #link>
    <div class="logoContainer">
        <a class="logo" href="http://localhost:4200/main"><img src="assets/logo/workorooms_pink.svg" alt="logo"></a>
        <div class="profile">
            <img class="profileImage" src="{{us.photo}}" alt="userimage" routerLink="profile">
            <p>{{us.name}} {{us.surname}}</p>
        </div>
    </div>
</ng-template>