.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3vh 5vh 5vh 5vh;
    height: 5%;
    align-items: center;
}

.logo{
    max-height: 20%;
    width: 20%;
    cursor: pointer;
}

.profileImage{
    width: 3em;
    cursor: pointer;
}

.profile{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    cursor: pointer;
}

@media(max-width: 767px){
    .logoContainer{
        gap: 1em;
        text-align: center;
        flex-direction: column;
        margin: 1em 0 2em 0;
    }
    .profile p{
        display: none;
    }
    .logo{
        width: 50%;
    }
    .welcome{
        font-size: 1.5em;
    } 
}