.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-bottom: 4em;
    /* justify-content: center; */
    text-align: center;
    height: 80vh;
    justify-content: center;
}

.logoContainer {
    padding: 2vh;
    cursor: pointer;
    height: 5%;
}

.logoContainer img {
    height: 100%;
}

img:hover {
    background-image: "assets/logo/Logo_Workoholics_pink.svg";
}

.image {
    font-size: 0.8em;
    align-items: center;
    text-align: center;
}

button{
    margin-top: 10%;
    background-color: #FB088C;
    height: 10%;
    font-family: "Moderat";
    color: white;
}