.form{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2em;
    height: 100vh;
}

.logoContainer {
    padding: 2vh;
    cursor: pointer;
    height: 5%;
}

.logoContainer img {
    height: 100%;
}

h3{
    font-size: 2em;
    margin: 0;
}

.loginElements{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

img{
    max-width: 35%;
}

.image {
    font-size: 0.8em;
    align-items: center;
    text-align: center;
}

button{
    margin-top: 10%;
    background-color: #FB088C;
    height: 10%;
    font-family: "Moderat";
    color: white;
}


button:hover{
    background-color: #b91a72;
}