

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
    gap: 10%;
}

.overflow{
    height: 100vh;
    overflow: hidden;
}

.circle{
    text-align: center;
    position: fixed;
    z-index: -1;
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}

.loginButton{
    font-family: "Moderat";
    background-color: white;
    border: 0.2em solid #212222;
    color: #212222;
    height: 10%;
    width: 20%;
}

.loginButton:hover{
    background-color: #212222;
    color: white;
}

.registerButton{
    font-family: "Moderat";
    background-color: #FB088C;
    color: white;
    height: 10%;
    width: 20%;
}

.registerButton:hover{
    background-color: #b91a72;
}

.rotating {
    animation: rotating 60s linear infinite;
}

@media(max-width: 767px){
    .container{
        flex-direction: column;
        max-height: 80vh;
    }

    .loginButton{
        width: 70%;
    }

    .registerButton{
        width: 70%;
    }
}

