.form{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2em;
    /* justify-content: center; */
    height: 90vh;
    justify-content: center;
}

h3{
    font-size: 2em;
    margin: 0;
}

button{
    margin-top: 10%;
    background-color: #FB088C;
    height: 10%;
    font-family: "Moderat";
    color: white;
}

button:hover{
    background-color: #b91a72;
}

.loginElements{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

img{
    max-width: 35%;
}


@media(max-width: 767px){
    .loginElements{
        flex-direction: column;
    }

    .form{
        width: 80%;
        justify-content: flex-start;
        margin-top: 2em;
    }

    input{
        height: 10%;
    }

    .logoContainer{
        text-align: center;
    }

    img{
        min-width: 70%;
    }

    h3{
        margin: 0;
    }

    button{
        margin:0;
    }
}