    <div class="logoContainer">
        <img src="assets/logo/Logo_Workoholics.svg" alt="logo" routerLink="">
    </div>
    
    <div class="form">
        
        <h4>Email</h4>
        <input type="text" [(ngModel)]="lo.gmail">

        <h4>Contraseña</h4>
        <input type="password" [(ngModel)]="lo.password">

        <button (click)="checkUser()" *ngIf="lo.gmail !='' && lo.password !=''">Iniciar sesión</button>
        <p *ngIf="notLogged">Email o contraseña incorrectas. Inténtelo de nuevo.</p> 

    </div>