/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@font-face {
    font-family: "Moderat";
    src: local("Moderat"), url(src/assets/fonts/Moderat_Extended_Bold.otf) format("opentype");
}

html,
body {
    min-height: 100vh;
    margin: 0;
}


/* @keyframes slideInLeft {
    100% {
      transform: translateY(-100%);
      background-color: #FB088C;
    }
    0% {
      transform: translateY(0);
      background-color: #FB088C;
    }
  } */

.background {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    animation: 3s ease-in-out 0s 1 slideInLeft;
}

body {
    font-family: "DM Sans", sans-serif;
}

button {
    border: none;
    cursor: pointer;
    font-size: 100%;
    border-radius: 0.8em;
}

.pinkButton {
    font-family: "Moderat";
    background-color: #FB088C;
    color: white;
    height: 10%;
    width: 20%;
}

.pinkButton:hover {
    background-color: #b91a72;
}

.greyButton {
    font-family: "Moderat";
    background-color: white;
    border: 0.2em solid #c7c7c7;
    color: #c7c7c7;
    height: 10%;
    width: 20%;
}

.greyButton:hover {
    background-color: #c7c7c7;
    color: white;
}

input {
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 0.2em;
    border-color: black;
    background-color: white;
    height: 5%;
}

input:focus {
    outline: none;
}

.fc {
    width: 30%;
    margin: auto;
}

.fc-toolbar h2 {
    margin: 0;
    color: #FB088C;
    font-family: "Moderat";
}


/* .fc-event,
.fc-event-dot {
    background-color: #FB088C !important;
    border: none !important;
} */