<div class="bookingContainer">


    <div class="width">

        <h3>Selecciona una sala</h3>
        <form>
            <label class="radioInput" *ngFor="let room of roomOb">
                <input id="radio" (click)="highLight()" type="radio" [(ngModel)]="highLightV" [(ngModel)]="newBooking.roomId" [value]='room.id' name="enums">{{room.name}}
            </label>
        </form>

        <h3>Razón</h3>
        <select [(ngModel)]="newBooking.purposeId">
            <option *ngFor="let purpose of purposeOb" [value]='purpose.id'>{{purpose.name}}</option>
        </select>

        <h3>Fecha de inicio</h3>
        <input type="datetime-local" [(ngModel)]="newBooking.dateIn" min={{today}}>

        <h3>Fecha de finalización</h3>
        <input type="datetime-local" [(ngModel)]="newBooking.dateOut" min={{newBooking.dateIn}}>

        <h3>Participantes</h3>
        <form *ngIf="newBooking.roomId == 1">
            <label *ngFor="let user of userOb; let i = index">
                <input [(ngModel)]="participants[user.id]" [value]='user.id' type="checkbox" name="enums">{{user.name}}
            </label>
        </form> 
        <!-- <label>{{user.name}}</label> -->
        <form *ngIf="newBooking.roomId == 2">
            <label *ngFor="let user of userOb">
                <input [(ngModel)]="participant.userId" [value]='user.id' type="checkbox" name="enums2">{{user.name}}
            </label>
        </form> 
        <select *ngIf="newBooking.roomId == 3" [(ngModel)]="participant.userId">
            <option *ngFor="let user of userOb" [value]='user.id'>{{user.name}}</option>
        </select>
        <select *ngIf="newBooking.roomId == 4" [(ngModel)]="participant.userId">
            <option *ngFor="let user of userOb" [value]='user.id'>{{user.name}}</option>
        </select>
        
        <div>
            <button class="pinkButton" (click)="postBookingAndParticipants()">Crear reunión</button>
        </div>
    </div>
    <div class="map">
        <app-map [highLightV]="highLightV"></app-map>
    </div>

</div>
