<!-- <button (click)="getBookings()">Reuniones existentes</button>
<div *ngIf="bookings != undefined">
    <div *ngFor="let booking of bookings; let i = index">

        <h3>userId</h3>
        <input type="number" [(ngModel)]="userOb.name">
        <label>Selecciona un usuario: </label>
        <select id="listCenTra" [(ngModel)]="newBooking.userId">
<option value="{{dato.id}}" *ngFor="let dato of userOb">
   {{dato.name}} {{dato.surname}} 
</option>
</select>
        <h3>purposeId</h3>
        <input type="number" [(ngModel)]="booking.purposeId">

        <h3>roomId</h3>
        <input type="number" [(ngModel)]="booking.roomId">

        <h3>dateIn</h3>
        <input type="datetime-local" [(ngModel)]="booking.dateIn">

        <h3>dateOut</h3>
        <input type="datetime-local" [(ngModel)]="booking.dateOut">

        <button (click)="updateBooking(booking)">Actualizar datos</button>
        <button type="button" class="delete" title="delete booking" (click)="deleteBooking(booking)">Borrar reunión</button>

    </div>
</div> -->
<div class="bookingContainer">

    <div class="width">
        <h2>Reserva</h2>
        <h3>Selecciona la sala</h3>
        <form>
            <label class="radioInput" *ngFor="let room of roomOb">
                <input id="radio" (click)="highLight()" type="radio" [(ngModel)]="highLightV" [(ngModel)]="newBooking.roomId" [value]='room.id' name="enums">{{room.name}}
            </label>
        </form>

        <h3>Razón</h3>
        <select [(ngModel)]="newBooking.purposeId">
            <option *ngFor="let purpose of purposeOb" [value]='purpose.id'>{{purpose.name}}</option>
        </select>

        <h3>Fecha de inicio</h3>
        <input type="datetime-local" [(ngModel)]="newBooking.dateIn" min={{today}}>

        <h3>Fecha de finalización</h3>
        <input type="datetime-local" [(ngModel)]="newBooking.dateOut" min={{newBooking.dateIn}}>

        <!-- <h3>Participantes</h3>
        <form>
            <label *ngFor="let user of userOb">
                <input [value]='user' type="checkbox" name="enums2">{{user.name}}
            </label>
        </form> -->
        <!--  [(ngModel)]="participants"-->
        <button class="pinkButton" (click)="postBooking()">Crear reunión</button>
    </div>

    <app-map class="map" [highLightV]="highLightV"></app-map>

</div>