<button (click)="getBookings()">Reuniones existentes</button>
<div *ngIf="bookings != undefined">
    <div *ngFor="let booking of bookings; let i = index">

        <!-- <h4>userId</h4>
        <input type="number" [(ngModel)]="userOb.name"> -->
        <label>Selecciona un usuario: </label>
        <select id="listCenTra" [(ngModel)]="newBooking.userId">
<option value="{{dato.id}}" *ngFor="let dato of userOb">
   {{dato.name}} {{dato.surname}} 
</option>
</select>

        <h4>purposeId</h4>
        <input type="number" [(ngModel)]="booking.purposeId">

        <h4>roomId</h4>
        <input type="number" [(ngModel)]="booking.roomId">

        <h4>dateIn</h4>
        <input type="datetime-local" [(ngModel)]="booking.dateIn">

        <h4>dateOut</h4>
        <input type="datetime-local" [(ngModel)]="booking.dateOut">

        <button (click)="updateBooking(booking)">Actualizar datos</button>
        <button type="button" class="delete" title="delete loadout" (click)="deleteBooking(booking)">Borrar reunión</button>

    </div>
</div>
<div>
    <!-- <form>
        <label>Selecciona un usuario: </label>
        <input type="checkbox" id="listCenTra" [(ngModel)]="newBooking.userId">
        <option value="{{dato.id}}" *ngFor="let dato of userOb">
            {{dato.name}} {{dato.surname}}
        </option>
    </form> -->

    <form *ngFor="let dato of userOb">
        <label><input type="checkbox">{{dato.name}}</label>
    </form>

    <form [(ngModel)]="newBooking.roomId">
        <label *ngFor="let dato of roomOb" for="enum_answer_{{dato.name}}">
            <input id="enum_answer_{{dato.name}}" [value]='dato.name' type="radio" name="enums">
            {{dato.name}}
        </label>
    </form>






    <!-- <label>Selecciona una sala: </label>
    <select id="listCenTra" [(ngModel)]="newBooking.roomId">
<option value="{{dato.id}}" *ngFor="let dato of roomOb">
{{dato.name}} 
</option>
</select>


    <label>Selecciona una sala: </label>
    <select id="listCenTra" [(ngModel)]="newBooking.roomId">
<option value="{{dato.id}}" *ngFor="let dato of roomOb">
{{dato.name}} 
</option>
</select> -->


    <h4>userId</h4>
    <input type="number" [(ngModel)]="newBooking.userId">

    <h4>purposeId</h4>
    <input type="number" [(ngModel)]="newBooking.purposeId">

    <!-- <h4>roomId</h4>
    <input type="number" [(ngModel)]="newBooking.roomId"> -->

    <h4>dateIn</h4>
    <input type="datetime-local" [(ngModel)]="newBooking.dateIn">

    <h4>dateOut</h4>
    <input type="datetime-local" [(ngModel)]="newBooking.dateOut">

    <button (click)="postBooking()">Crear reunión</button>
</div>