<button (click)="getBookings()">Reuniones existentes</button>
<div *ngIf="bookings != undefined">
    <div *ngFor="let booking of bookings; let i = index">

        <h4>userId</h4>
        <input type="number" [(ngModel)]="booking.userId">

        <h4>purposeId</h4>
        <input type="number" [(ngModel)]="booking.purposeId">
        
        <h4>roomId</h4>
        <input type="number" [(ngModel)]="booking.roomId">
        
        <h4>date</h4>
        <input type="date" [(ngModel)]="booking.date">

        <h4>hourIn</h4>
        <input type="time" [(ngModel)]="booking.hourIn">
        
        <h4>hourOut</h4>
        <input type="time" [(ngModel)]="booking.hourOut">
        
        <button (click)="updateBooking(booking)">Actualizar datos</button>
        <button type="button" class="delete" title="delete loadout" (click)="deleteBooking(booking)">Borrar reunión</button>
   
    </div>
</div>
<div>
    <h4>userId</h4>
    <input type="number" [(ngModel)]="newBooking.userId">

    <h4>purposeId</h4>
    <input type="number" [(ngModel)]="newBooking.purposeId">

    <h4>roomId</h4>
    <input type="number" [(ngModel)]="newBooking.roomId">

    <h4>date</h4>
    <input type="date" [(ngModel)]="newBooking.date">

    <h4>dateIn</h4>
    <input type="time" [(ngModel)]="newBooking.hourIn">

    <h4>dateOut</h4>
    <input type="time" [(ngModel)]="newBooking.hourOut">

    <button (click)="postBooking()">Crear reunión</button>
</div>
